@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; background-color: #191919; /* 020916 */
}
* {
  text-decoration: none; list-style: none;
  box-sizing: border-box; padding: 0; margin: 0;
  transition: all .3s; outline: none;
  font-family: 'Poppins', sans-serif;
}
#root {
  display: flex; flex-direction: column;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
}
#id::-webkit-scrollbar {
  width: 10px; height: 7px;
}
::-webkit-scrollbar-track {
  background: #0c0c0c;
}
::-webkit-scrollbar-thumb {
  background: #888; border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}